<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta informatie -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Koppel de stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <title>Buurt Campus</title>
	<!-- Voegt het JavaScript toe en zorg dat het deferred wordt geladen -->
    <script src="/script.js" defer></script>
</head>

<body>
	<!-- <div class="container"> -->
		<!-- <div class="header"> -->
		<header class="header">
			<div class="wrapper">
				<!-- Logo -->
				<div class="logo">
						<h1>Buurt Campus</h1>
						<h1>Amsterdam</h1>
						<h1>West</h1>
				</div>
				<!-- Einde logo -->
				
				<!-- Menubalk -->
				<div class="menubar">
					<label for="menubar-checkbox" class="menubar-handle"></label>
					<ul>
						<!-- Menu items -->
						<li><a href="/">Home</a></li>
						<li><a href="/vraag-aanbod">Vraag & Aanbod</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/faq">FAQ</a></li>
    					<li><a href="/about">About</a></li>
					</ul>
				</div>
				<!-- Einde menubalk -->
			</div>
		</header>
	</body>
	</html>
