<%- include('./partials/head.ejs') -%> 

<main>
    <article class="faq__intro">
      <div>
        <h1>Veelgestelde vragen</h1>
      </div>
    </article>

<div class="faq"><input type="checkbox" id="1"><label for="1">Wat doen wij?</label>
    <p>De Hallen is een cultureel complex in Amsterdam, gevestigd in een voormalige tramremise. 
        Het biedt onderdak aan een verscheidenheid aan winkels, restaurants, een bioscoop, een bibliotheek en andere culturele en creatieve initiatieven.
        Wij brengen vraag & aanbod uit Amsterdam West bij elkaar.</p> 
   </div>
     
    <div class="faq"><input type="checkbox" id="2"><label for="2">Waar bevinden wij ons?</label>
   <p>De Hallen bevindt zich in Amsterdam-West, in de buurt van de Kinkerstraat en de Ten Katemarkt. 
    Het exacte adres is Hannie Dankbaarpassage 47, 1053 RT Amsterdam.</p>
   </div>
   
  <div class="faq"><input type="checkbox" id="3"><label for="3">Wat zijn onze openingstijden?</label>
   <p>De openingstijden van De Hallen variëren per onderdeel. 
    Over het algemeen zijn de meeste winkels en eetgelegenheden dagelijks geopend van 10:00 tot 18:00 uur, maar sommige faciliteiten zoals de bioscoop en restaurants hebben verruimde openingstijden.</p>
   </div>
   
  <div class="faq"><input type="checkbox" id="4"><label for="4">Is er parkeergelegenheid bij ons?</label>
   <p>Ja, er is een ondergrondse parkeergarage beschikbaar voor bezoekers van De Hallen. 
    De ingang van de parkeergarage bevindt zich aan de Bellamyplein.</p>
   </div>

   <div class="faq"><input type="checkbox" id="5"><label for="5">Hoe kan ik een initatief aanmelden?</label>
    <p>Om een initiatief te plaatsen, ga naar de overzichtspagina en klik op de knop "Initiatief aanmelden". Volg vervolgens het formulier in om je initiatief online te zetten.</p>
    </div>

    <div class="faq"><input type="checkbox" id="6"><label for="6">Hoe kan ik contact opnemen?</label>
        <p>U kunt contact opnemen met ons door te bellen naar ons algemene informatienummer. 
        Het contactformulier en de telefoonnummers zijn te vinden op onze website.</p>
    </div>    
</main>

<%- include('./partials/foot.ejs') -%> 