<%- include('./partials/head.ejs') -%> 

<body>
    <div class="container">

        <div class="banner">
            <div class="wrapper">
                <!-- Bannerafbeelding -->
                <img src="/Display.jpg" alt=" "/>
            </div>
        </div>
			
        <div class="about-info">
            <div class="wrapper">
                <div class="info">
                    <!-- Informatie over ons -->
                    <img src="/Vraag-aanbod.png" alt=" "/>
                    <h2>Wat doen wij?</h2>
                    <!-- Beschrijving over ons -->
                    <h3>Wij brengen vraag & aanbod uit Amsterdam West bij elkaar</h3>
                    <p>Ontdek hier de perfecte match tussen vraag en aanbod op ons dynamisch online platform. 
                        Of je nu op zoek bent naar iets unieks of jouw expertise wilt aanbieden, wij bieden een platform waar vraag en aanbod samenkomen. 
                        Verkoop jouw goederen, diensten of talenten gemakkelijk en bereik een breed publiek. 
                        Begin vandaag nog met het verkennen van eindeloze mogelijkheden en ontdek de kracht van ons platform om jouw doelen te bereiken!</p>
                </div>
            </div>
        </div>
			
        <div class="cta">
            <div class="wrapper">
                <h2>Zelf een initiatief aanmelden?</h2>
                <!-- Link naar initiatief aanmelden -->
                <a href="/opdracht" class="btn">Klik hier</a>
            </div>
        </div>
        
    </div>
</body>
</html>

<%- include('./partials/foot.ejs') -%>