/* Generieke stijlen */

:root {
  --primary: rgb(167, 208, 183);
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
  font-family: 'Noto Sans', sans-serif, Helvetica;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
}

/* Header en Footer */
.header {
  background: var(--light);
}

.logo {
  line-height: 16px;
  font-size: 1.2em;
}

.logo h1 {
  font-weight: 700;
  text-shadow: 3px 3px 20px #000;
}

.logo h1:nth-child(2) {
  color: var(--primary);
}

.footer {
  background: var(--light);
  height: 100%;
  padding: 60px 0;
  text-align: center;
}

/* Menubalk */
.menubar {
  position: relative;
  display: block;
  margin: 0 auto 50px auto;
  padding: 12px 10px 0px 10px;
  text-align: center;
  /* font-family: 'Noto Sans', sans-serif, Georgia; */
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85em;
  height: 25px;
  width: 70%;
  background: var(--primary);
  cursor: pointer;
  border-radius: 3px;
}

.menubar ul {
  height: 0;
  display: inline-block;
  opacity: 0;
  margin: 0;
  padding: 10px 0px 0px 0px;
  width: 90%;
}

.menubar a {
  color: #6d6d6d;
  display: block;
  padding: 5px 10px;
}

.menubar li:hover a {
  color: #ecf0f1;
  background: rgba(0, 0, 0, 0.2);
}

.menubar .active {
  color: #ecf0f1;
}

/* Media query */
@media screen and (min-width: 768px) {
  .header {
    position: relative;
    height: 100%;
    text-align: left;
    padding: 50px 0 20px 0;
    background: var(--light);
  }

  .logo {
    left: 0;
    display: inline-block;
    line-height: 16px;
    font-size: 21px;
    padding-left: 20px;
  }

  .logo a {
    display: inline-block;
  }

  .menubar {
    cursor: default;
    position: absolute;
    top: 35%;
    right: 0;
    display: inline-block;
    padding: 0px 10px;
    height: auto;
    width: auto;
    border-radius: 3px;
  }

  .menubar ul {
    height: auto;
    max-height: 50px;
    width: auto;
    display: block;
    opacity: 1;
    padding: 20px;
    /* background: var(--primary); */
  }

  .menubar a {
    padding: 5px 0;
    display: inline-block;
    color: var(--dark);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif, Georgia;
    font-weight: 700;
    font-size: 14px;
  }

  .menubar li {
    display: inline-block;
    list-style-type: none;
    color: #6d6d6d;
    padding: 0 8px;
  }
}

/* Specifieke stijlen */

/* Tekststijlen */
p {
  line-height: 25px;
  font-weight: 400;
}

h1 {
  color: var(--light);
}

h2, h3, h4, h5, h6 {
  letter-spacing: 0.8px;
  font-family: 'PT Sans', sans-serif, Helvetica;
  font-weight: 400;
  color: var(--dark);
}

/* Afbeeldingen en banners */
/* .banner {
  position: relative; 
  overflow: hidden; 
} */

.banner img {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 0.4;
}

/* .banner .wrapper {
  position: relative; 
} */

/* Sectie 'Wat doen wij?' */
.about-info {
  position: absolute; 
  top: 70%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 85%;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 10px 10px 0;
  /* vertical-align: top; */
  /* color: #6d6d6d; */
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); */
  max-width: 80%; 
  text-align: center; 
  /* z-index: 1;  */
  /* background: none;  */
}

.about-info p {
  font-size: 1em;
  color: var(--dark);
}

.about-info div:last-child {
  padding: 60px 20px 30px 0;
}

.about-info img {
  position: relative;
  height: 67px;
  width: 57px;
  /* margin: 0px 0 0 -15px; */
}

/* Call to Action / ZELF INITIATIEF AANMELDEN */
.cta {
  margin-top: -20px;
  width: 100%;
  background-color: var(--primary);
  text-align: center;
}

.cta h2 {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #2e2e2e;
}

/* Knopstijlen */
.btn {
  text-transform: uppercase;
  background: rgba(236, 240, 241, 0.6);
  border: 2px #2e2e2e solid;
  border-radius: 2px;
  padding: 15px;
  font-family: 'Noto Sans', sans-serif, Georgia;
  font-weight: 700;
  color: #2e2e2e;
}

.btn:hover {
  background: rgba(236, 240, 241, 0.8);
}

/* Formulierstijlen */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input,
.input-group select {
  width: calc(100% - 10px);
  padding: 5px;
  font-size: 1em;
}

.input-group input[type="file"] {
  width: auto;
}

.radio-buttons {
  margin-bottom: 15px;
}

.radio-buttons label {
  margin-right: 15px;
}

.radio-buttons input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"] {
  background-color: var(--primary);
  cursor: pointer;
  text-transform: uppercase;
  background: rgba(236, 240, 241, 0.6);
  border: 2px #2e2e2e solid;
  border-radius: 2px;
  padding: 8px;
  font-family: 'Noto Sans', sans-serif, Georgia;
  font-weight: 700;
}

input[type="submit"]:hover {
  background-color: var(--primary);
}

/* Vraagaanbod sectie */
.vraagaanbod {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 80em;
  margin: 0 auto;
}

.vraagaanbod article {
  position: relative;
  width: 25em;
  height: 30em;
  margin: 2em 1em; 
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto; 
}

.vraagaanbod h2 {
  color: #333;
  margin: 0.4em 0;
  font-size: 1.2em;
  overflow: hidden; 
  padding: 0.2em 1em;
  /* padding: inline; */
}

.vraagaanbod p {
  margin: 8px 0;
  font-size: 0.9em;
  padding: 0.2em 1em;
  /* text-transform: capitalize; */
  /* overflow: hidden;  */
}

.vraagaanbod .over-vraagaanbod-tekst {
  font-style: italic;
  color: #555;
  font-size: 0.9em;
  /* overflow: hidden;  */
}

.vraagaanbod img {
  width: 23em;
  height: 10em;
  object-fit: cover;
  border-radius: 2px;
  padding: 0.2em 1em;
}

/* Contact sectie */
.contact {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}